In [1]:
import requests
import pandas as pd

%matplotlib inline


baseurl = 'https://thevirustracker.com/timeline/map-data.json'

data_raw_file = '../../Data/Raw/covid19_data_modeling.parquet'

pd.plotting.register_matplotlib_converters()

# Carga de Dados para o Desenvolvimento

In [2]:
obj = requests.get(baseurl).json()
data = pd.DataFrame.from_dict(obj['data'])
data.head()

  cases countrycode     date deaths recovered
0   852          AD  6/06/20     51         1
1   852          AD  6/05/20     51         1
2   852          AD  6/04/20     51         1
3   851          AD  6/03/20     51         1
4   844          AD  6/02/20     51         1

# Export Data

In [3]:
data.to_parquet(data_raw_file)